@use '@angular/material' as mat;

.container {
    padding: 20px;

    .amount-overview {
        background-color: #0F0F1E;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;

        h2 {
            margin-bottom: 10px;
            font-size: 1rem;
            color: #A4A4A4;
        }

        span {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .categories {
        margin-bottom: 40px;

        @include mat.chips-overrides((elevated-container-color: #6034A6,
                container-shape-radius: 50px,
                label-text-color: #fff,
                label-text-size: 0.8rem,
                hover-state-layer-opacity: 0.5,
                selected-trailing-action-state-layer-color: #692ccb
            ));
    }

    .history {
        display: flex;
        flex-direction: column;
        background-color: #151524;
        padding: 20px;
        border-radius: 30px;

        .title-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .card {
                display: flex;
                gap: 15px;

                .icon {
                    width: 40px;
                    height: 40px;
                    background-color: #6034A6;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: #fff;
                        font-weight: bold;
                        margin: 0;
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        margin: 0;
                        font-size: 1.2rem;
                    }

                    p {
                        color: #A4A4A4;
                        margin-top: 5px;
                    }
                }
            }

            span {
                font-size: 1.1rem;
            }

            span.revenues {
                color: #05B47D;
                font-weight: bold;
            }

            span.expenses {
                color: #B4051F;
                font-weight: bold;
            }
        }
    }

    .text-center {
        text-align: center;
    }
}