<app-header></app-header>
<section class="container">
    <div class="amount-overview">
        <h2>Balanço Total</h2>
        <span>{{ balance().toFixed(2) | currency:'BRL' }} </span>
    </div>

    <div class="categories">
        <h3>Categorias</h3>
        <mat-chip-listbox aria-label="Transaction Type" class="transaction-type" [value]="activeFilter()"
            (change)="setFilter($event.value)">
            <mat-chip-option value="REVENUES">Receitas</mat-chip-option>
            <mat-chip-option value="EXPENSES">Despesas</mat-chip-option>
        </mat-chip-listbox>
    </div>

    <div class="history" (scroll)="onScroll($event)">
        @if (groupedTransactions().length > 0) {
            @for (group of groupedTransactions(); track group.date) {
                <div class="date-group-header">
                    <span class="label">{{ group.label }}</span>
                </div>

                @for (transaction of group.transactions; track $index) {
                    <div class="title-container" routerLink="/details/{{transaction.id}}">
                        <div class="card">
                            <div class="icon">
                                <p>{{ transaction.title.charAt(0) }}</p>
                            </div>
                            <div class="title">
                                <h3>{{ transaction.title }}</h3>
                                <p>{{ transaction.description }}</p>
                            </div>
                        </div>
                        <span class="{{ transaction.transactionType === 'REVENUE' ? 'revenues' : 'expenses' }}">
                            {{ transaction.transactionType === 'REVENUE' ? '+' : '-' }} {{ transaction.amount.toFixed(2) | currency:
                            'BRL'}}
                        </span>
                    </div>
                }
            }

            @if(loading()) {
                <div class="spinner-container">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
            }
        } @else {
            <p class="text-center">Ainda não há transações registradas.</p>
        }
    </div>
</section>