@use '@angular/material' as mat;

:host {
    display: block;
    width: 100%;
}

.btn-primary {
    width: 100%;
    
    @include mat.fab-overrides((container-color: var(--color-primary),
            foreground-color: var(--color-text-primary),
            extended-label-text-weight: 500,
        ));
}

.btn-secondary {
    width: 100%;
    
    @include mat.fab-overrides((container-color: transparent,
            foreground-color: var(--color-text-primary),
            extended-label-text-weight: 500,
        ));
}