<div class="card-container" routerLink="/details/{{transaction?.id}}">
    <div class="card">
        <div class="card-content">
            <div class="icon">
                <p>{{ transaction?.title?.charAt(0) }}</p>
            </div>
            <div class="title">
                <h3>{{ transaction?.title }}</h3>
                <p>{{ transaction?.description }}</p>
            </div>
        </div>
        <span class="{{ transaction?.transactionType === 'REVENUE' ? 'revenues' : 'expenses' }}">
            {{ transaction?.transactionType === 'REVENUE' ? '+' : '-' }} {{ transaction?.amount?.toFixed(2) | currency:
            'BRL'}}
        </span>
    </div>
</div>