* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #0F0F1E;
    min-height: 100dvh;
}