@use '@angular/material' as mat;

.spinner-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    @include mat.progress-spinner-overrides((active-indicator-color: var(--color-primary),
        ));
}