// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  --color-primary: #6034A6;
  --color-primary-selected: #2d1356;

  --color-background: #0F0F1E;
  --color-surface: #151524;

  --color-text-primary: #fff;
  --color-text-secondary: #A4A4A4;

  --color-success: #05B47D;
  --color-danger: #B4051F;

  @include mat.snack-bar-overrides((button-color: var(--color-primary),
      container-color: var(--color-background),
      supporting-text-color: var(--color-text-primary),
    ));

  body.light-theme {
    --color-primary: #d5bcff;
    --color-primary-selected: #a57aee;
    
    --color-background: #ffffff;
    --color-surface: #f4f6f8;

    --color-text-primary: #212529;
    --color-text-secondary: #6c757d;

    @include mat.snack-bar-overrides((button-color: var(--color-primary),
        container-color: var(--color-background),
        supporting-text-color: var(--color-text-primary),
      ));
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */